@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --font-main: "Poppins";
  --colo-primary: #ff1f01;
  --colo-dark-1: #000000;
  --colo-dark-2: #7d8184;
  --colo-white-1: #ffffff;
  --colo-white-2: #f5f5f5;
  --colo-green: #03c03c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}
html {
  font-size: 10px;
  /* 1 rem 10px */
}
body {
  font-family: var(--font-main);
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0rem 1rem;
}
.fa-star {
  width: 2rem;
  height: 2rem;
  color: rgb(221, 151, 0);
}
/* Top_Nav */
.top_nav {
  width: 100%;
  height: 4rem;
  background-color: var(--colo-dark-1);
}
.top_nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_nav_wrapper {
  display: flex;
  color: var(--colo-white-1);
  align-items: center;
}
.top_nav_p {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 1px;
}
.top_nav_link {
  margin-left: 2rem;
  font-weight: 400;
  color: rgb(4, 0, 255);
  font-size: 1.4rem;
}
/*////////////////////////////////////////////  NAV */
.nav {
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid var(--colo-dark-2);
}
.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  display: flex;
}
.nav_items {
  display: flex;
  align-items: center;
}
.nav_logo {
  font-size: 2.8rem;
  font-weight: 800;
  color: var(--colo-dark-1);
  font-family: "Merienda", cursive;
}
.nav_item {
  margin: 0rem 0.5rem;
}
.nav_link {
  padding: 0.6rem;
  color: var(--colo-dark-1);
}
.nav_form {
  padding: 0.5rem 1rem;
  background-color: var(--colo-white-2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.nav_input {
  padding: 0.4rem;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 8px 10px;
  border-radius: 14px;
}
.nav_search {
  cursor: pointer;
}
.nav_shop {
  margin-left: 2rem;
  cursor: pointer;
  font-size: 2.5rem;
  color: black;
}
/*/ ///////////////////////////////////////////  Mobile Nav */
.mobile_nav {
  background-color: var(--colo-white-2);
  position: absolute;
  z-index: 99;
  height: 100vh;
  border-right: 1px solid var(--colo-dark-2);
  transition: all 0.5s ease;
}
.mobile_nav_item {
  padding: 2rem 10rem 2rem 5rem;
  border-bottom: 1px solid var(--colo-white-2);
}
.mobile_nav_link {
  padding: 1.2rem 5rem 1.2rem 0rem;
}
.mobile_nav_hide {
  display: none;
}
/*//////////////////////////////////////////// HEADER */
.header_container {
  width: 100%;
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
}
.header_filter {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header_filter_link {
  color: var(--colo-dark-1);
}
.hero-img {
  width: 80%;
  object-fit: cover;
  object-position: center;
  border-radius: 24px;
}
/*/ /////////////////////////////////////////// SECTION */
.section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

/* Flash Sale */
.section_category {
  display: flex;
  align-items: center;
}
.section_category_p {
  border-left: 1.4rem solid var(--colo-primary);
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--colo-primary);
  font-size: 1.3rem;
}
.section_header {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.section_title {
  font-size: 3rem;
  margin-right: 2rem;
}
#demo {
  font-size: 1.8rem;
  margin-left: 0.5rem;
}

/* Swipper Slide */
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*////////////////////////////////////////////  CARDS */
.card {
  margin-bottom: 4rem;
}
.card_top {
  width: 100%;
  height: 22rem;
  position: relative;
}
.card_img {
  width: 100%;
  height: 100%;
}
.card_tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9;
  background-color: var(--colo-primary);
  padding: 0.4rem 0.6rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1rem;
  color: var(--colo-white-1);
}
.card_top_icons {
  position: absolute;
  z-index: 9;
  top: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card_top_icon {
  height: 2.4rem;
  width: 2.4rem;
  padding: 1rem;
  border-radius: 10rem;
}
.card_body {
  margin-top: 1rem;
  text-align: left;
}
.card_title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.card_price {
  color: var(--colo-primary);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.card_ratings {
  display: flex;
  align-items: center;
}
.card_stars {
  margin-right: 1rem;
}
.card_rating_numbers {
  font-size: 1.4rem;
}
.container_btn {
  width: 100%;
  text-align: center;
}
.container_btn_a {
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  padding: 1.6rem 3rem;
  border-radius: 0.5rem;
}
/*/ ///////////////////////////////////////////  Cart Page */
.cart {
  width: 100%;
}
.cart_header {
  background-color: var(--colo-white-2);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
}
.cart_item {
  margin-top: 2rem;
  background-color: var(--colo-white-2);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
}
.cart_product {
  display: flex;
  flex-direction: column;
}
.cart_img {
  width: 7%;
}
.cart_total {
  margin-top: 2rem;
  margin-right: 1.5rem;
  text-align: right;
}
.add_to_cart {
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  border: none;
  outline: none;
  margin-top: 2rem;
}
/*////////////////////////////////////////////  CATEGORIES */
.categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 4rem;
}
.category {
  border: 2px solid rgba(128, 128, 128, 0.493);
  width: 100%;
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.category:hover {
  background-color: var(--colo-primary);
  color: white;
  .category_icon {
    filter: invert(1);
  }
  transform: scale(1.1);
}
.category_icon {
  width: 5rem;
  height: auto;
}
.category_name {
  margin-top: 1rem;
}
/*/ /////////////////////////////////////////// Trending */
.trending {
  background-color: var(--colo-dark-1);
  padding: 8rem 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem;
  align-items: center;
  border-radius: 5rem;
}
.trending_img {
  width: 90%;
}
.trending_p {
  color: var(--colo-green);
}
.trending_title {
  color: var(--colo-white-1);
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.trending_btn {
  background-color: var(--colo-green);
  padding: 1rem 2rem;
  color: var(--colo-white-1);
  border-radius: 10rem;
}
.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem;
}
/*////////////////////////////////////////////////////////////////////////// GALLERY  */
.gallery_item {
  width: 100%;
  position: relative;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 4vw);
  gap: 1.5rem;
}
.gallery_item_content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 9;
  width: 70%;
  color: var(--colo-white-1);
}
.gallery_item {
  width: 100%;
}
.gallery_item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery_item_1 {
  grid-column: 1/4;
  grid-row: 1/8;
}
.gallery_item_2 {
  grid-column: 4/8;
  grid-row: 1/4;
  object-position: bottom;
}
.gallery_item_3 {
  grid-column: 4/6;
  grid-row: 4/8;
}
.gallery_item_4 {
  grid-column: 6/8;
  grid-row: 4/8;
}
.gallery_item_title {
  font-size: 2.2rem;
}
.gallery_item_p {
  color: var(--colo-white-1);
  font-size: 1.4rem;
  margin: 1rem 0rem;
}
.gallery_item_link {
  color: var(--colo-white-1);
  text-decoration: underline;
}
/*/ ///////////////////////////////////////////// SERVICES */
.services_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem;
}
.service {
  text-align: center;
}
.service_title {
  margin: 0.5rem 0rem;
}
/*////////////////////////////////////////////// FOOTER */
.footer {
  margin-top: 10rem;
  background-color: var(--colo-dark-1);
}
.footer_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem;
  padding: 5rem 3rem;
  color: var(--colo-white-1);
}
.footer_logo {
  font-size: 3rem;
  color: var(--colo-white-1);
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.footer_item_title {
  margin-bottom: 1.2rem;
}
.footer_p {
  margin-top: 1.5rem;
}
.footer_item {
  margin: 0.5rem 0rem;
}
.footer_bottom_container {
  width: 100%;
  text-align: center;
}
.footer_copy {
  color: var(--colo-dark-2);
  padding: 1.5rem 0rem;
}
/*/ ///////////////////////////////////////////// RESPONSIVE */
@media only screen and (max-width: 950px) {
  .header_container {
    flex-direction: column;
  }
  .header_filter {
    display: none;
  }
  .hero-img {
    width: 100%;
  }
  .footer_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem;
    padding: 5rem 3rem;
  }
}
.hamburnger {
  display: none;
  cursor: pointer;
}
.hamburnger i {
  font-size: 3rem;
}
@media only screen and (max-width: 875px) {
  .top_nav {
    display: none;
  }
  .nav_list {
    display: none;
  }
  .nav_items {
    display: none;
  }
  .hamburnger {
    display: block;
  }
}
@media only screen and (max-width: 875px) {
  .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
/*////////////////////////////////////////////// ABOUT */
.story_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 4rem;
}
.story_content_title {
  font-size: 3.6rem;
  margin-bottom: 3rem;
}
.story_content_p {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.story_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}
.service_outline {
  border: 1px solid var(--colo-dark-2);
  border-radius: 3rem;
  padding: 5rem;
}
.services_number {
  font-size: 2.5rem;
}
/*/ ///////////////////////////////////////////// SIGN-UP / LOGIN*/
.auth_container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 90vh;
}
.auth_img {
  width: 50%;
  height: 100%;
}
.auth_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.auth_content {
  width: 50%;
}
@media only screen and (max-width: 875px) {
  .auth_img {
    display: none;
  }
  .auth_content {
    width: 100%;
  }
}
.auth_content {
  padding: 10rem;
}
.form_title {
  font-size: 3.2rem;
}
.auth_p {
  margin: 2rem 0rem;
}
.form_group {
  width: 100%;
}
.form_input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 0.6rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--colo-dark-2);
}
.form_pass {
  margin-bottom: 1rem;
}
.form_btn {
  width: 100%;
  padding: 1.3rem;
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  border: none;
  outline: none;
  margin-bottom: 1.4rem;
}
.form_link {
  color: var(--colo-white-1);
}
.form_group > span {
  margin-top: 2rem;
}
